language: java
jdk:
  - oraclejdk8

addons:
  sonarcloud:
    organization: "sephiroth-j-github"
    token:
      secure: "G4fIIoaWBqiBCmO72ZLtv6P1wDQRANVO9KMxGlhTW9RuvA194iklaEyHqO99ah0bspmR5LKyAdLjxDypUl0cYNDHlrK8aYPkYogJZTkyjr8oVFrMBfmm3GHcxsb8IaPgms8zBIxQ+AH2CaBWKoK40TNgvuwPe3dq966Jq7pHnHQnPJzvO74LM+tSrRkwxiuZ1gky040FepCa2m/E+8jPjWuFEFyiddbhFgqA2+UPANxf8ug/A7gS9uGfB3OBUXF/3otnalD1Q97yQUkRqjHOHwwYZRGMR6RQP/TbaP1Bf7V1Q/3Er8jwj6ue639JNdEwIV8Cr8+doWCyxrgLrac+qEupmEgq63MutoLpj+bWmULBySqYXUyGTj4nPX1l3Doe+Xm+qtsfZa9uhrAsc98gidcTkwdGX3fht9ITG6kpNB5GDh2TP1J4/kK5aNb15GjJrzyX4Avj0CvBSvxw5jo2cNVWVsN1xnZc8m9SyPEp0wGpUigZu4HLW+pjmW1FqXL2YiWF+yPyyohkZI4oxwxJI+pRLVYCDEXDZuFnasKH03uR4DpRfniwb25N+iSv8r97V/ntUapTSaFVMOk4mBnfJcbIZmTc/UaanvLwCMpQEBT/HlsAC+LerCzvwhR/2SflZbF6jHZflZVZxTLehk5G0pZPmMRrtivsH+Be0NTMQPA="
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar
  